:root {
    --main-color: #007AFF;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.color {
    color: var(--main-color);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*---------font-size and line-height ---------------*/

.font12 {
    font-size: 12px;
}

.font16 {
    font-size: 16px;
}

.lineh22 {
    line-height: 22px;
}

/*------------Used all over in website-------------------*/

section {
    padding: 35px 50px;
    position: relative;
}

.btn {
    background: var(--main-color);
    padding: 14px 22px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

/*--------- Top Bar -------------*/

.top-bar {
    width: 100%;
    height: 50px;
    background: #008b8b;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
}

.sale1 {
    border-right: 1px solid #fff;
    padding: 10px 30px;
    text-transform: uppercase;
}

.sale2 {
    padding: 10px 30px;
}

.colortop {
    color: #444;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #fff;
    color: #008b8b;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 20%;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 8px 0px rgba(183, 183, 183, 0.4);
    line-height: 18px;
    font-size: 14px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #e6e6e6 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*---------------Left Navigation bar-------------*/

.nav-bar {
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 15px 20px;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}

.navi-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navi-left ul li {
    float: left;
}

.navi-left ul li a {
    display: inline-block;
    text-decoration: none;
    color: #556b7f;
    padding: 7px 20px;
    font-weight: bold;
}

.navi-left ul li a.icon {
    display: none;
}

/*----------------Right navigation bar---------------------*/

.navi-right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navi-right ul li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
    padding: 7px 20px;
    color: var(--main-color);
    font-weight: bold;
}

.navi-right ul li a i {
    padding: 0 10px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #f2f2f2;
    z-index: 1;
    min-width: 160px;
    padding: 12px;
}

.dropdown-content a {
    display: block;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    color: #556b7f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*---------Banner ---------------*/

#banner {
    background: url(../images/banner.jpg) center right no-repeat fixed;
    width: 100%;
    position: relative;
    height: auto;
    float: left;
    z-index: -1;
}

.searchbox {
    width: 70%;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    min-height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/*---------Ad section --------------*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.ad-left {
    flex: 60%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    height: 250px;
    margin-right: 3%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
    border: 1px solid #c0cad5;
}

.ad-left-in1 {
    width: 35%;
    height: inherit;
}

.ad-left-img {
    width: 100%;
    height: 100%;
    background: url(../images/hotel-collections.jpg) center no-repeat;
    background-size: cover;
}

.ad-left-in2 {
    width: 65%;
    padding: 20px;
}

.box-text {
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
    ;
}

.box-text span {
    color: var(--main-color);
}

.ad-right {
    flex: 37%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
    border: 1px solid #c0cad5;
}

.ad-right-in1 {
    width: 50%;
    height: inherit;
    padding: 20px;
}

.ad-right-in2 {
    width: 50%;
    height: inherit;
}

.ad-right-img {
    width: 100%;
    height: 100%;
    background: url(../images/spring.jpg) center no-repeat;
    background-size: cover;
}

/*----------Service section ----------*/

.service {
    flex: 25%;
    padding: 0 35px 25px 35px;
    text-align: center;
    background: #f4f6f8;
}

.service-icon {
    font-size: 32px;
}

.service-title {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

.service-cont {
    color: #4f6f8f;
}